<component name="libraryTable">
  <library name="spring jar flies">
    <CLASSES>
      <root url="file://$USER_HOME$/eclipse/spring jar flies" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$USER_HOME$/eclipse/spring jar flies" recursive="false" />
  </library>
</component>